In [ ]:
#Instacart Market Basket Analysis

In [ ]:
%matplotlib inline

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import plotly as py
#import psycopg2
#import textatistic
import seaborn as sbn
import requests 
matplotlib.style.use('ggplot')
py.offline.init_notebook_mode()

In [16]:
aisle = pd.read_csv('/home/faculty/millbr02/pub/ecomm/aisles.csv')
dept = pd.read_csv('/home/faculty/millbr02/pub/ecomm/departments.csv')
orderProd = pd.read_csv('/home/faculty/millbr02/pub/ecomm/order_products__prior.csv')
orderProd1 = pd.read_csv('/home/faculty/millbr02/pub/ecomm/order_products__train.csv')
orders= pd.read_csv('/home/faculty/millbr02/pub/ecomm/orders.csv')
products = pd.read_csv('/home/faculty/millbr02/pub/ecomm/products.csv')

In [17]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [28]:
orderProd.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [ ]:
db = opp[opp.add_to_cart_order==1].groupby(opp.product_id).count()
db.head